<div class="flex justify-center items-center h-screen" xmlns="http://www.w3.org/1999/html">
  <form class="form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/4" [formGroup]="form" (ngSubmit)="register()">
    <div class="mb-4 flex items-start">
      <img alt="" src="/assets/icons/Logo.svg">
      <div class="block text-gray-700 text-lg font-bold ml-2 mb-2">
        Freenance
      </div>
    </div>
    <div class="mb-4">
      <div class="block text-gray-700 text-md font-bold mb-2">
        Sig In
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        formControlName="name"
        id="name" placeholder="Name" type="text">
    </div>
    <ng-container>
      <div *ngIf="isSubmitted && name?.errors?.['required']" class="text-red-500 text-sm mt-1">
        Name is required.
      </div>
      <div *ngIf="isSubmitted && name.errors?.['min']" class="text-red-500 text-sm mt-1">
        Value should be longer than 6.
      </div>
      <div *ngIf="isSubmitted && name.errors?.['max']" class="text-red-500 text-sm mt-1">
        Value should be shorter than 20.
      </div>
    </ng-container>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline "
        formControlName="email"
        id="email"
        placeholder="Email" type="email" [ngClass]="{'border-red-500 bg-red-200': isSubmitted && email.errors}">
    </div>
    <ng-container>
      <div *ngIf="isSubmitted && email?.errors?.['required']" class="text-red-500 text-sm mt-1">
        Email is required.
      </div>
      <div *ngIf="isSubmitted && email.errors?.['email']" class="text-red-500 text-sm mt-1">
        Value should be in email format.
      </div>
      <div *ngIf="email.errors?.['isUnique']" class="text-red-500 text-sm mt-1">
        {{email.errors?.['isUnique']}}
      </div>
    </ng-container>
    <div class="mb-6 mt-2">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <div class="flex items-baseline relative">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          formControlName="password"
          id="password" placeholder="Password"
          [type]="isPasswordVisible ? 'text': 'password'">
        <button
          class="btn btn-default"
          type="button"
          (click)="togglePasswordVisibility()"
        >
          <i class="fa" [ngClass]="{'fa-eye': isPasswordVisible, 'fa-eye-slash': !isPasswordVisible}"></i>
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-1 items-center justify-between">
      <input
        class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer"
        type="submit"
        value="Create account"
      />
      <button
        class="bg-gray-300 text-gray-600 py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer"
        type="button"
        (click)="returnToSignIn()"
      >
        <i class="fa fa-long-arrow-left"></i>
        Back to Sign In
      </button>
    </div>
  </form>
</div>
