<form class="w-1/2" [formGroup]="form" (ngSubmit)="submit()">
  <p class="text-blue-600 font-bold mt-4">General</p>
  <p class="form-input-label">Avatar</p>

  <custom-file-upload
    accept=".jpg,.jpeg"
    [url]="user().avatar"
    (upload)="uploadFile($event)"
  />

  <label class="form-input-label" for="name">Name</label>
  <input
    class="form-input"
    formControlName="name"
    id="name"
    placeholder="Name"
    type="text"
  />
  @if (!form.controls['name'].untouched) {
  <validation-message [errors]="form.controls['name'].errors" />
  }

  <label class="form-input-label" for="email">Email</label>
  <input
    class="shadow disabled form-input !bg-gray-200"
    formControlName="email"
    id="email"
    placeholder="Email"
    type="email"
    readonly
  />

  <div formGroupName="address">
    <p class="text-blue-600 font-bold mt-8">Address</p>
    <label class="form-input-label" for="street">Street Address</label>
    <input
      class="form-input"
      formControlName="street"
      id="street"
      placeholder="Street Address"
      type="text"
    />
    @if (!form.get('address.street').untouched) {
    <validation-message [errors]="form.get('address.street').errors" />
    }
    <div class="flex">
      <div class="w-1/3">
        <label class="form-input-label" for="city">City</label>
        <input
          class="form-input"
          formControlName="city"
          id="city"
          placeholder="City"
          type="text"
        />
        @if (!form.get('address.city').untouched) {
        <validation-message [errors]="form.get('address.city').errors" />
        }
      </div>
      <div class="mx-4 w-1/3">
        <label class="form-input-label" for="postCode">Postal Code</label>
        <input
          class="form-input"
          formControlName="postCode"
          id="postCode"
          placeholder="Post Code"
          type="text"
        />
        @if (!form.get('address.postCode').untouched) {
        <validation-message [errors]="form.get('address.postCode').errors" />
        }
      </div>
      <div class="w-1/3">
        <label for="countries" class="form-input-label">Country</label>
        <select id="countries" formControlName="country" class="form-input">
          <option disabled ngValue="">Select Country!</option>

          @for ( country of countries; track country.id ) {
          <option [ngValue]="country.id">
            {{ country.name }}
          </option>
          }
        </select>
        @if (!form.get('address.country').untouched) {
        <validation-message [errors]="form.get('address.country').errors" />
        }
      </div>
    </div>
  </div>
  <input
    class="bg-blue-500 float-right hover:bg-blue-700 font-bold text-white mt-4 py-2 px-4 rounded w-24 cursor-pointer"
    type="submit"
    value="Save"
  />
</form>
