<div class="flex h-screen bg-gray-200">
  <div class="flex flex-col w-1/4 bg-white text-gray-800 p-4">
    <logo title="Freenance" src="assets/icons/Logo.svg" alt="Freenance logo" />
    <div class="flex flex-col justify-between grow">
      <div class="nav-items grow">
        <ul>
          <li>
            <div
              class="nav-item p-2 rounded"
              routerLink="/clients"
              routerLinkActive="active"
            >
              <i class="fa fa-users px-2"></i>
              Clients
            </div>
          </li>
          <li>
            <div
              class="nav-item p-2 rounded"
              routerLink="/invoices"
              routerLinkActive="active"
            >
              <i class="fa fa-file-text px-2"></i>
              Invoices
            </div>
          </li>
          <li>
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 rounded focus:outline-none focus:shadow-outline cursor-pointer"
              type="button"
              (click)="logout()"
            >
              Logout(testing)
            </button>
          </li>
        </ul>
      </div>
      <div class="settings flex flex-col justify-between">
        <div
          class="nav-item p-2 rounded"
          routerLink="/settings"
          routerLinkActive="active"
        >
          <i class="fa fa-cog px-2"></i>
          Settings
        </div>
      </div>
    </div>
  </div>

  <div class="w-3/4 p-4">
    <router-outlet />
  </div>
</div>
