<form [formGroup]="form" (ngSubmit)="submit()">
  <h3>Sign In</h3>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
      Email
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      formControlName="email"
      id="email"
      placeholder="Email"
      type="email"
    />
    <validation-message
      *ngIf="form.controls['email'].touched"
      [errors]="form.controls['email'].errors"
    />
  </div>
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
      Password
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      formControlName="password"
      id="password"
      placeholder="Password"
      type="password"
    />
    <validation-message
      *ngIf="form.controls['password'].touched"
      [errors]="form.controls['password'].errors"
    />
  </div>
  <div class="flex justify-between align-baseline my-1">
    <div class="flex items-baseline">
      <input
        class="mr-2 leading-tight"
        formControlName="remember"
        id="remember"
        type="checkbox"
      />
      <label class="block text-gray-700 text-sm font-bold mb-2" for="remember">
        Remember me
      </label>
    </div>
    <div class="text-blue-700 text-sm underline cursor-pointer">
      <a routerLink="/auth/register">Create account</a>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <input
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer"
      type="submit"
      value="Sign In"
    />
  </div>
</form>
