<div class="relative">
  <spinner *ngIf="loading" />
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 form-middle"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <ng-content></ng-content>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        formControlName="email"
        id="email"
        placeholder="Email"
        type="email"
      />
      <div
        *ngIf="
          form.controls['email'].touched &&
          form.controls['email']?.errors?.['required']
        "
        class="text-red-500 text-sm mt-1"
      >
        {{ formErrors['requiredEmail'] }}
      </div>
      <div
        *ngIf="
          form.controls['email'].touched &&
          form.controls['email'].errors?.['email']
        "
        class="text-red-500 text-sm mt-1"
      >
        {{ formErrors['emailFormat'] }}
      </div>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        formControlName="password"
        id="password"
        placeholder="Password"
        type="password"
      />
      <div
        *ngIf="
          form.controls['password'].touched &&
          form.controls['password']?.errors?.['required']
        "
        class="text-red-500 text-sm mt-1"
      >
        {{ formErrors['requiredPassword'] }}
      </div>
    </div>
    <div class="flex items-baseline">
      <input
        class="mr-2 leading-tight"
        formControlName="remember"
        id="remember"
        type="checkbox"
      />
      <label class="block text-gray-700 text-sm font-bold mb-2" for="remember">
        Remember me
      </label>
    </div>
    <div class="flex items-center justify-between">
      <input
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer"
        type="submit"
        value="Sign In"
      />
    </div>
  </form>
</div>
